{% extends 'base-back.html.twig' %}

{% block body %}
    <h1>Hotel List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameHotel</th>
                <th>RatingHotel</th>
                <th>ImageHotel</th>
                <th>DescriptionHotel</th>
                <th>NombreDesChambres</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for hotel in hotels %}
                <tr>
                    <td>{{ hotel.id }}</td>
                    <td>{{ hotel.nameHotel }}</td>
                    <td>{{ hotel.ratingHotel }}</td>
                    <td>{{ hotel.imageHotel }}</td>
                    <td>{{ hotel.descriptionHotel }}</td>
                    <td>{{ hotel.numberOfRooms }}</td>
                    <td>{{ hotel.type.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
