{% extends 'base-back.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
    <h1>Hotel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>NameHotel</th>
                <td>{{ hotel.nameHotel }}</td>
            </tr>
            <tr>
                <th>RatingHotel</th>
                <td>{{ hotel.ratingHotel }}</td>
            </tr>
            <tr>
                <th>ImageHotel</th>
                <td>{{ hotel.imageHotel }}</td>
            </tr>
            <tr>
                <th>DescriptionHotel</th>
                <td>{{ hotel.descriptionHotel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hotel_index') }}">back to list</a>

    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">edit</a>

    {{ include('hotel/_delete_form.html.twig') }}
{% endblock %}
