{% extends 'base.html.twig' %}

{% block body %}
    <section class="login-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="section-borders">
                        <span></span>
                        <span class="black-border"></span>
                        <span></span>
                    </div>

                    <div class="login-form">
                        <h2 class="text-center mb-4">
                            <div class="login-icon"><i class="fa fa-user"></i></div>
                        Inscription
                    </h2>

                    <form method="post" action="{{ path('app_register') }}" class="mt-4">
                        {{ form_start(form) }}

                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.username) }}
                        </div>

                        <div class="form-group">
                            <label for="prenomuser">Prénom</label>
                            {{ form_widget(form.prenomuser, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.prenomuser) }}
                        </div>

                        <div class="form-group">
                            <label for="numtel">Numéro de téléphone</label>
                            {{ form_widget(form.numtel, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.numtel) }}
                        </div>

                        <div class="form-group">
                            <label for="email">Adresse email</label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.password) }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3">S'inscrire</button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
