{% extends 'base-back.html.twig' %}

{% block body %}
<div style="width: 300px; margin: 0 auto;">
        <form action="{{ path('app_search_user') }}" method="GET" style="display: flex; align-items: center; border: 1px solid #ccc; border-radius: 4px; overflow: hidden;">
            <input type="text" name="searchTerm" placeholder="Search..." style="flex: 1; padding: 8px;">
            <button type="submit" style="background-color: #3498db; color: #fff; padding: 8px 12px; border: none; cursor: pointer;">Search</button>
        </form>
    </div>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Num Tel</th>
            <th scope="col">Email</th>
            <th scope="col">Type User</th>
            <th scope="col">enabled</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.prenomuser }}</td>
                <td>{{ utilisateur.numtel }}</td>
                <td>{{ utilisateur.email }}</td>

                <td>
                    {% for role in utilisateur.roles %}
                        {{ role }}
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ utilisateur.enabled ? 'Enabled' : 'Disabled' }}</td>

                <td>
                    <a href="{{ path('delete_user', {'id': utilisateur.id}) }}" class="btn btn-danger btn-block"
                       onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                    <a href="{{ path('edit_user', {'id': utilisateur.id}) }}" class="btn btn-primary btn-block">Edit</a>
                     
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('add_user') }}" class="btn btn-success btn-block">Add</a>
    </div>
   
{% endblock %}
