{% extends 'base-back.html.twig' %}

{% block title %}Guide{% endblock %}

{% block body %}
    <h1>Guide</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guide.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ guide.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ guide.nom }}</td>
            </tr>
            <tr>
                <th>LangueParle</th>
                <td>{{ guide.langueParle }}</td>
            </tr>
            <tr>
                <th>Disponiblite</th>
                <td>{{ guide.disponiblite }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ guide.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_guide_index') }}">Liste</a>

    <a href="{{ path('app_guide_edit', {'id': guide.id}) }}">Modifier</a>

    {{ include('guide/_delete_form.html.twig') }}
{% endblock %}
