{% extends 'base-back.html.twig' %}

{% block title %}BookingRestaurant{% endblock %}

{% block body %}
    <h1>BookingRestaurant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking_restaurant.id }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ booking_restaurant.userId }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ booking_restaurant.startDate ? booking_restaurant.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ booking_restaurant.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_booking_restaurant_index') }}">back to list</a>

    <a href="{{ path('app_booking_restaurant_edit', {'id': booking_restaurant.id}) }}">edit</a>

    {{ include('booking_restaurant/_delete_form.html.twig') }}
{% endblock %}
